<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#f08080">
<center>
    <h1>
               GET FORM
    <form action="./add" method="GET">
            Enter First Number:<input type="text" name="t1"><br>
            Enter Second Number:<input type="text" name="t2"><br>
            <input type="submit" value="add"><br>
    </form>
               POST FORM
      <form action="./add" method="POST">
          {% csrf_token %}
            Enter First Number:<input type="text" name="t1"><br>
            Enter Second Number:<input type="text" name="t2"><br>
            <input type="submit" value="add"><br>
    </form>
    </h1>
        
</center>

</body>
</html>