<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#00ffff">
    <center><h1>User Registration Form</h1></center>
    <form  action="./reg/" method="post">
        {% csrf_token %}
      <table  bgcolor="lightgrey" border="2" align="center">
          <tr></tr><td>User Name:</td><td><input type="text" name="t1"></td></tr>
          <tr><td>Password:</td><td><input type="password" name="t2"></td></tr>
          <tr><td>Conf_Password:</td><td><input type="password" name="t3"></td></tr>
          <tr><td>Enter First Name:</td><td><input type="text" name="t4"></td></tr>
          <tr><td>Enter Last Name:</td><td><input type="text" name="t5"></td></tr>
          <tr><td>Enter Email:</td><td><input type="email" name="t6"></td></tr>
          <tr><td>Enter Mobileno</td><td><input type="text" name="t7"></td></tr>
          <tr><td><input type="submit" value="Register"></td>
     
          <td><input type="reset" value="Cancel"></td>
        </tr>

  
      </table>
    </form>
</body>
</html>